.oe_attach_link{

}
.oe_hidden_input_file_my {
    position: absolute;
    top: -24px;
    left: 165px;
}
.openerp .oe_mail .oe_attachment .oe_edit_url{
    display: none;
}
.openerp .oe_mail .oe_msg_composer .oe_attachment .oe_edit_url{
    display: block;
    position: absolute;
    top: -7px;
    color: black;
    text-shadow: 1px 0px white, -1px 0px white, 0px 1px white, 0px -1px white;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: opacity 0.2s linear; 
       -moz-transition: opacity 0.2s linear; 
         -o-transition: opacity 0.2s linear; 
            transition: opacity 0.2s linear; 
}
.openerp .oe_mail .oe_msg_composer .oe_attachment:hover .oe_edit_url{
    opacity: 1;
    -webkit-transition: opacity 0.2s linear; 
       -moz-transition: opacity 0.2s linear; 
         -o-transition: opacity 0.2s linear; 
            transition: opacity 0.2s linear; 
}
/*
.openerp .oe_hidden_input_file input.oe_form_binary_file {
    z-index: 0;
    line-height: 0;
    font-size: 12px;
    position: absolute;
    top: 14px;
    left: 0;
    right: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "alpha(opacity=0)";
    margin: 0;
    padding: 0;
}*/
