.o_Discuss_content_modal {
  /* height: 100%; */
  overflow: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  flex-flow: column;
}

.pos .chat-button {
  display: flex;
}

.chat-button {
  display: flex;
  align-items: center;
  padding: 0 15px;
  font-size: medium;
  color: white;
}

.chat-button.highlight {
  background: rgb(104, 69, 95);
}

.chat-button:hover {
  background: rgb(104, 69, 95);
  cursor: pointer;
}

.chat-button .with-badge {
  margin-right: 0.7em;
  font-size: larger;
}
