/*.oe_product_image_swipe {
	position: absolute !important;
    top: 15px;
    bottom: 55px;
    text-align: center;
}
.oe_product_image_swipe img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    position: absolute !important;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 4;
}*/
