<?xml version="1.0" encoding="UTF-8" ?>
<!--
    Copyright 2022 Shurshilov Artem
    License OPL-1.0

  -->
<odoo>
    <menuitem
        id="main_menu_cp"
        name="Cloud phones"
        web_icon="cloud_phone_base,static/description/icon.png"
        groups="cloud_phone_base.group_cp_user"
    />
    <!-- <menuitem
        id="my_calls_menu_cp"
        name="My calls"
        action="cloud_phone_base.action_cloud_phone_mycall"
        parent="main_menu_cp"
        sequence="3"
        groups="cloud_phone_base.group_cp_user"
    /> -->
    <menuitem
        id="calls_menu_cp"
        name="Calls"
        action="cloud_phone_base.action_cloud_phone_call"
        parent="main_menu_cp"
        sequence="3"
        groups="cloud_phone_base.group_cp_manager"
    />
    <menuitem
        id="numbers_menu_cp"
        name="Numbers"
        action="cloud_phone_base.action_cloud_phone_number"
        parent="main_menu_cp"
        sequence="4"
        groups="cloud_phone_base.group_cp_manager"
    />
    <menuitem
        id="connectors_menu_cp"
        name="Connectors"
        action="cloud_phone_base.action_cloud_phone_connector"
        parent="main_menu_cp"
        sequence="5"
        groups="cloud_phone_base.group_cp_manager"
    />
    <menuitem
        id="events_menu_cp"
        name="Events"
        action="cloud_phone_base.action_cloud_phone_event"
        parent="main_menu_cp"
        sequence="6"
        groups="cloud_phone_base.group_cp_manager"
    />

</odoo>
