.o_mail_thread .o_thread_message:hover i.o_thread_message_forward:hover, .o_mail_thread .o_thread_message.o_thread_selected_message i.o_thread_message_forward:hover{
    opacity: 1;
}
.o_mail_thread .o_thread_message:hover i.o_thread_message_forward, .o_mail_thread .o_thread_message.o_thread_selected_message i.o_thread_message_forward {
    opacity: 0.6;
}
 .o_mail_thread .o_thread_message i.o_thread_message_forward {
    cursor: pointer;
    opacity: 0;
}